.auto {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auto img{
  height: 300px;
  width: 300px;
}

.main-container{
  max-width: 100%;
  height: 1700px;
  background-color: rgb(240, 235, 235);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-box{
  background-color: rgb(57, 45, 45);
  position: absolute;
  border-radius: 6px;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
}

.cart{
  width: 90%;
  height: 420px;
  background-color: rgb(255, 255, 255);
  margin-top: 400px;
  border-radius: 6px;

}

.car-type{
  width: 90%;
}

.first-line{
  display: flex;
  margin-top: 30px;
}

.second-line{
  display: flex;
  margin-top: 50px;
}

.car-box{
  width: 25%;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-box img{
  width: 300px;
  height: auto
}


.hot-off{
  width: 100%;
  height: 1000px;
  background-color: rgb(240, 235, 235);

}

.popular-car{
  background-color: rgb(240, 235, 235);
}

