.signin{
    max-width: 100%;
    height: 820px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.signin-box{
    width: 32%;
}

.signin-box input{
    width: 97%;
    height: 45px;
    font-size: 18px;
    border: 0.5px solid burlywood;
    border-radius: 5px;
    background-color: rgb(230, 241, 250);
    padding-left: 10px;
    margin-top: 20px;
}

input:focus {
  border: 0.5px solid burlywood;
  background-color: rgb(230, 241, 250);
  outline: none;
}

.log-btn{
    width: 100%;
    height: 45px;
    border-radius: 50px;
    border: none;
    background-color: #0082FA;
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

.lines{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.line{
    width: 190px;
    height: 2px;
    background-color: rgb(172, 162, 162);
}

.social-btn{
    width: 100%;
    height: 45px;
    position: relative;
    border-radius: 50px;
    border: 2px solid black;
    margin-top: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
}

.social-btn:hover{
    background-color: #F1F1F1;
}

button img{
    width: 24px;
    height: 24px;
   
}

.icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 10px;
}

.para{
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}

.span{
   color: #0082FA; 
   line-height: 1.4;
}

span:hover{
    cursor: pointer;
    text-decoration: underline;
}