.app-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 235, 235);
}

.editorial{
  display: flex;
  gap: 5px;
  height: 30px;
  width: 90px;
  background-color: white;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  width: 100%;
  gap: 70px;
  margin-top: 30px;
  align-items: center;
  justify-content: flex-start;
}

.nav-bar span {
  cursor: pointer;
  color: #555;
  text-decoration: none;
  padding-bottom: 8px;


}

  

.nav-bar .active {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid red;
  width: 120px;


  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-line{
  width: 100%;
  height: 0.5px;
  background-color: #bebbbb;
}

.main1-content {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.main1-article {
  width: 600px;
}

.main1-article img {
  width: 600px;
  height: auto;
  border-radius: 6px;
}

.main1-text .category1 {
  color: #007bff;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 10px;
}

.main1-text h2 {
  font-size: 20px;
  margin: 10px 0;
}

.main1-text p {
  color: #555;
  font-size: 14px;
}

.side1-articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side1-article {
  display: flex;
  gap: 10px;
}

.side1-article img {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.side1-article .category1 {
  color: #007bff;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 20px;
}

.side1-article h4 {
  font-size: 16px;
  margin: 0;
}


