.verify{
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.verify-box{
    width: 32%;
}

.verify-box h1{
    text-align: center;
    color: rgb(205, 7, 7);
    font-size: 60px;
    margin-top: 30px;
}

.verify-box p{
    text-align: center;
    margin-top: 20px;
}

.verify-box h2{
     text-align: center;
     font-size: 20px;
     font-weight: 500;
     margin-top:  20px;

}

.noti{
    width: 97%;
    height: 45px;
    background-color: rgb(242, 236, 229);
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 20px;
}

.noti p{
    margin-top: 0;
}

.verify-box input{
    width: 97%;
    height: 45px;
    font-size: 18px;
    border: 0.5px solid burlywood;
    border-radius: 8px;
    background-color: rgb(230, 241, 250);
    padding-left: 10px;
    margin-top: 25px;
}

.verify-box input:focus {
  border: 2px solid #41a1fa;
  background-color: rgb(230, 241, 250);
  outline: 0.5px black;
}