.top-cover{
    width: 100%;
    height: 350px;

}

.top-cover img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;    
}

.list-it{
    width: 100%;
    height: 620px;
    background-color: rgb(224, 233, 231);
    position: relative;
    display: flex;
    flex-direction: column;

}

.sell-it{
    width: 60%;
    height: 256px;
    margin-top: 10px;
    border: 1px solid rgb(190, 155, 155);
    margin-left: 60px;
    border-radius: 4px;
    display: flex;
}

.sell-it img{
    width: 50%;
    height: 256px;
    object-fit: cover;
}

.sell-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 70px;
}

.sell-div h2{
    font-weight: 300;
    font-size: 28px;
}

.list-btn{
    width: 250px;
    height: 40px;
    color: white;
    background-color: rgb(72, 84, 222);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}