.padder{
    padding-left: 40px;
    padding-right: 40px;
      background-color: #f8f3f3;

}

.sell-car-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(30deg, #cf1414 50%, #fa2525 50%);
  color: white;
  padding: 40px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}


.left-section3 {
  width: 50%;  
  position: relative;
  text-align: start;
  
}

.left-section3 .logo {
  width: 40px;
  margin-bottom: 10px;
}

.left-section3 h1 {
  font-size: 48px;
  font-weight: bold;
}

.left-section3 p {
  font-size: 24px;
}

.car-images {
  position: relative;
  margin-top: 20px;

}

.car-images img {
  position: absolute;
  bottom: 0;
  height: 200px;
}


.white-car {
  z-index: 0;
  left: 60px;
  width: 500px;
  top: 40px;
  object-fit: cover;
}

.right-section {
  background: #2e2e2e;
  border-radius: 10px;
  padding: 30px;
  color: white;
  width: 36%;
}

.right-section h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.right-section label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}


.right-section input{
  width: 94%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.right-section select{
  width: 100%;
  padding: 12px 12px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.right-section button {
  width: 100%;
  padding: 14px;
  background-color: #007fff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.bottom-link {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

.bottom-link a {
  color: #8bc6ff;
  text-decoration: none;
}




.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-message {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 14px;
  border-radius: 2px;
  position: absolute;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  white-space: nowrap;
  text-align: center;
}

.tooltip-container:hover .tooltip-message {
  visibility: visible;
  opacity: 1;
}

.tooltip-message::after {
  content: '';
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}

.tooltip-message:hover {
  text-decoration: none;
}


