.signup{
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.signup-box5{
    width: 32%;
}

.signup-box5 h1{
    text-align: center;
    color: rgb(205, 7, 7);
    font-size: 60px;
    margin-top: 30px;
    
}

.signup-box5 p{
    margin-top: 10px;
    color: #7b7b7a;
    font-size: 14px;

}

.signup-box5 h2{
     text-align: center;
     font-size: 20px;
     font-weight: 500;
   

}

.signup-box5 input{
    width: 97%;
    height: 45px;
    font-size: 14px;
    border: 0.5px solid burlywood;
    border-radius: 4px;
    background-color: rgb(247, 248, 249);
    padding-left: 10px;
    margin-top: 20px;
}

input:focus {
  border: 0.5px solid burlywood;
  background-color: rgb(247, 248, 249);
  outline: none;
}

.signup-box5 li{
list-style-type: disc;
font-size: 14px;
margin-top: 10px;
margin-left: 16px;
color: #7b7b7a;
}

.log-btn {
  width: 100%;
  height: 45px;
  background-color: #0082fa;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  margin-top: 20px;
}

.log-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}




