.signup{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.signup-box{
    width: 32%;
}

.signup-box h1{
    text-align: center;
    color: rgb(205, 7, 7);
    font-size: 60px;
    margin-top: 50px;
}

.signup-box p{
    text-align: center;
    margin-top: 20px;
}

.signup-box h2{
     text-align: center;
     font-size: 20px;
     font-weight: 500;
     margin-top:  25px;

}

.signup-box input{
    width: 97%;
    height: 45px;
    font-size: 18px;
    border: 0.5px solid burlywood;
    border-radius: 8px;
    background-color: rgb(230, 241, 250);
    padding-left: 10px;
    margin-top: 20px;
}

input:focus {
  border: 0.5px solid burlywood;
  background-color: rgb(230, 241, 250);
  outline: none;
}

.log-btn {
  width: 100%;
  height: 45px;
  background-color: #0082fa;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  margin-top: 30px;
}

.log-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}




