.footer {
  background: #333;
  color: #ccc;
  font-size: 14px;
  padding: 30px 50px;
  border-top: 10px solid rgb(215, 9, 9);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 180px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  border-bottom: 1px solid #796c6c;
  padding-bottom: 15px;
  margin-top: 30px;
}

.footer-section ul {
  list-style: none;
  padding: 0

}

.footer-section li {
  margin-bottom: 6px;
  cursor: pointer;
  line-height: 2;

}

.footer-section li:hover {
  text-decoration: underline;
}

.footer-right {
  flex: 1 1 220px;
  text-align: center;
  margin: 10px;
}

.footer-right img{
  max-width: 150px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.social-back{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(172, 9, 9);
    border-radius: 50px;
}

.social-icons svg {
  cursor: pointer;
  color: #ccc;
}

.social-icons svg:hover {
  color: #fff;
}

.store-buttons img {
  max-width: 130px;
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  padding-top: 10px;
}
