*{
    padding: 0;
    margin: 0;
  font-family: "Roboto", sans-serif;

}

.main-btn{
  height: 45px;
  width: 200px;
  border-radius: 50px;
  color: white;
  background-color: rgb(11, 92, 222);
  border: none;
}

.hover-btn{
  height: 45px;
  width: 200px;
  border-radius: 50px;
  color: rgb(11, 92, 222) ;
  border: 2px solid  rgb(11, 92, 222);
  background-color: white;

}

.hover-btn:hover{
  background-color:rgb(11, 92, 222) ;
  color: white;
}