.truck-search-container {
  background: #5a5959;
  color: #fff;
  width: 90%;
  position: absolute;
  top: -70px;
  margin-left: 60px;
  height: 220px;

}

.tab-div{
    padding: 12px 8px 0px 8px;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;


}

.tab-button {
  background: #484545;
  border: none;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.tab-button:hover{
    background-color: rgb(39, 110, 186);

}

.tab-button.active {
  background: #333;
}

.tab-icon {
  font-size: 20px;
  text-decoration: none;
}

.tab-label {
  font-size: 10px;
  text-decoration: none;
}

.search-section2 {
  background: #333;
  padding: 1px 40px;
  height: 150px;
}

.check-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.filters select,
.filters input {
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
}



.checkboxes label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}


.checkboxes input{
    width: 20px;
    height: 20px;
    margin-top: 10px;

}

.filters input{
  margin: 0;
}


.checkboxes {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.search-button {
  background: limegreen;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 205px;
  height: 50px;
}



